# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nsbra\OneDrive - The UWI - Cave Hill Campus\SWEN-third-year-semester-one\3001 - Android Development 1\20201014_FlowText\20201014_FlowText\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
